workflows/HiringAutomation_Communications.json
{
  "name": "MuhammadFatikBinImran Hiring Automation - Scheduled Communications",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "1",
      "name": "Dispatch Communications",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "MASTER_CANDIDATE_SHEET_ID",
        "sheetName": "Candidates",
        "options": {
          "returnAll": true,
          "useHeaderRow": true
        }
      },
      "id": "2",
      "name": "Read Master Candidates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pending = items.filter((entry) => String(entry.json.contact_status || '').toLowerCase() === 'pending');\n\nreturn pending.map((entry) => ({\n  json: {\n    ...entry.json,\n    classification: String(entry.json.classification || entry.json.screening_classification || 'average').toLowerCase(),\n    email: String(entry.json.email || '').trim().toLowerCase(),\n    name: String(entry.json.name || '').trim(),\n    role: String(entry.json.role || '').trim(),\n    rowNumber: Number(entry.json.rowNumber || entry.json.masterRowNumber || entry.json.source_row_number || 0) || null,\n    score: Number(entry.json.score || 0),\n    summary: String(entry.json.summary || '').trim(),\n    concerns: String(entry.json.concerns || '').trim()\n  }\n}));"
      },
      "id": "3",
      "name": "Filter Pending Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "propertyName": "classification",
        "rules": [
          {
            "operation": "equal",
            "value2": "strong"
          },
          {
            "operation": "equal",
            "value2": "average"
          },
          {
            "operation": "equal",
            "value2": "weak"
          }
        ]
      },
      "id": "4",
      "name": "Classify Candidate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "jsCode": "return items.map((entry) => {\n  const start = new Date();\n  start.setDate(start.getDate() + 2);\n  start.setHours(10, 0, 0, 0);\n  const end = new Date(start.getTime() + 30 * 60 * 1000);\n\n  return {\n    json: {\n      ...entry.json,\n      interviewStart: start.toISOString(),\n      interviewEnd: end.toISOString()\n    }\n  };\n});"
      },
      "id": "5",
      "name": "Prepare Interview Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 120]
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "={{$json.email}}",
        "subject": "Interview Invitation - {{$json.name}}",
        "html": "=<p>Dear {{$json.name}},</p><p>We reviewed your application for the {{$json.role}} position and would like to invite you to the next step of the process.</p><p>Your profile was assessed as <strong>{{$json.classification}}</strong> with a score of <strong>{{$json.score}}</strong>.</p><p>We will follow up with the interview calendar invitation shortly. Please reply if you need to reschedule.</p><p>Kind regards,<br>Trilles AI Hiring Team</p>"
      },
      "id": "6",
      "name": "Send Interview Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1450, 120],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "calendar": "primary",
        "start": "={{$json.interviewStart}}",
        "end": "={{$json.interviewEnd}}",
        "summary": "Interview - {{$json.name}} ({{$json.role}})",
        "description": "Candidate: {{$json.name}}\nEmail: {{$json.email}}\nRole: {{$json.role}}\nAI score: {{$json.score}}\nClassification: {{$json.classification}}",
        "attendeesUi": {
          "attendeeValues": [
            {
              "email": "={{$json.email}}"
            }
          ]
        }
      },
      "id": "7",
      "name": "Create Interview Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [1680, 120],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "MASTER_CANDIDATE_SHEET_ID",
        "sheetName": "Candidates",
        "rowNumber": "={{$json.rowNumber}}",
        "columnsUi": {
          "column": [
            { "column": "contact_status", "value": "sent" },
            { "column": "contacted_at", "value": "={{$now}}" },
            { "column": "contact_channel", "value": "interview_invite" }
          ]
        }
      },
      "id": "8",
      "name": "Mark Strong Contacted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1910, 120],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "={{$json.hiringManagerEmail || 'hiring-manager@example.com'}}",
        "subject": "Manual review required - {{$json.name}} ({{$json.role}})",
        "html": "=<p>Hello Hiring Team,</p><p>A candidate for the <strong>{{$json.role}}</strong> role has been scored as <strong>{{$json.classification}}</strong> and should be reviewed manually.</p><p><strong>Name:</strong> {{$json.name}}<br><strong>Email:</strong> {{$json.email}}<br><strong>Score:</strong> {{$json.score}}</p><p><strong>Summary:</strong> {{$json.summary}}</p><p><strong>Concerns:</strong> {{$json.concerns}}</p><p>Please review the candidate record in the master sheet.</p><p>Regards,<br>Trilles AI Automation</p>"
      },
      "id": "9",
      "name": "Send Manager Review Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1450, 300],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "MASTER_CANDIDATE_SHEET_ID",
        "sheetName": "Candidates",
        "rowNumber": "={{$json.rowNumber}}",
        "columnsUi": {
          "column": [
            { "column": "contact_status", "value": "sent" },
            { "column": "contacted_at", "value": "={{$now}}" },
            { "column": "contact_channel", "value": "manager_review" }
          ]
        }
      },
      "id": "10",
      "name": "Mark Average Contacted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@example.com",
        "toEmail": "={{$json.email}}",
        "subject": "Update on your application - {{$json.name}}",
        "html": "=<p>Dear {{$json.name}},</p><p>Thank you for taking the time to apply for the {{$json.role}} role at Trilles AI.</p><p>After reviewing your application, we will not be moving forward at this stage. This decision was based on the current needs of the role and the fit of the submitted materials.</p><p>We appreciate your interest and encourage you to apply again for future opportunities.</p><p>Kind regards,<br>Trilles AI Hiring Team</p>"
      },
      "id": "11",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [1450, 480],
      "credentials": {
        "gmailOAuth2": {
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "MASTER_CANDIDATE_SHEET_ID",
        "sheetName": "Candidates",
        "rowNumber": "={{$json.rowNumber}}",
        "columnsUi": {
          "column": [
            { "column": "contact_status", "value": "sent" },
            { "column": "contacted_at", "value": "={{$now}}" },
            { "column": "contact_channel", "value": "rejection" }
          ]
        }
      },
      "id": "12",
      "name": "Mark Weak Contacted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1680, 480],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Dispatch Communications": {
      "main": [
        [
          {
            "node": "Read Master Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Candidates": {
      "main": [
        [
          {
            "node": "Filter Pending Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Candidates": {
      "main": [
        [
          {
            "node": "Classify Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Candidate": {
      "main": [
        [
          {
            "node": "Prepare Interview Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manager Review Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interview Event": {
      "main": [
        [
          {
            "node": "Send Interview Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Interview Email": {
      "main": [
        [
          {
            "node": "Create Interview Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Interview Event": {
      "main": [
        [
          {
            "node": "Mark Strong Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Manager Review Email": {
      "main": [
        [
          {
            "node": "Mark Average Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Mark Weak Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "1"
}
