workflows/MuhammadFatikBinImran_HiringAutomation.json
{
  "name": "MuhammadFatikBinImran_HiringAutomation",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 10,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "ad5997c1-bfdb-428a-8f71-7173da9cce30",
      "name": "Poll Applications",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17PtuhikNt-NX-ifnxv-dVv-e_y9FOcKn3hV8C2qH5yY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Responses",
          "mode": "name"
        },
        "options": {}
      },
      "id": "454fe4bc-b110-46df-9984-6da055eacfcb",
      "name": "Read SWE Applications",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I1Z0sU0vaIFFB6wBrEqPqpOwdshg0_BsTxu69359JI0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Responses",
          "mode": "name"
        },
        "options": {}
      },
      "id": "47a2cc55-caf3-4287-810c-e11d765213d5",
      "name": "Read BDM Applications",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        0,
        208
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "ff2fdcfe-4719-466a-a751-bd6cf31adce7",
      "name": "Combine Applications",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        240,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const SWE_SOURCE_DOC = '17PtuhikNt-NX-ifnxv-dVv-e_y9FOcKn3hV8C2qH5yY';\nconst BDM_SOURCE_DOC = '1I1Z0sU0vaIFFB6wBrEqPqpOwdshg0_BsTxu69359JI0';\nconst SOURCE_SHEET = 'Responses';\nconst emailPattern = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n\nfunction extractRowNumber(item) {\n  const candidates = [item['Row Number'], item.rowNumber, item.row_number];\n  for (const value of candidates) {\n    const parsed = Number(value);\n    if (Number.isFinite(parsed) && parsed > 0) return parsed;\n  }\n  return null;\n}\n\nfunction extractRole(item) {\n  const rawRole = String(item.position || item.role || item.applied_role || '').trim().toUpperCase();\n  if (rawRole.includes('BDM') || rawRole.includes('BUSINESS')) return 'BDM';\n  return 'SWE';\n}\n\nfunction extractResumeUrl(item) {\n  return String(item.resume_url || item.resumeLink || item.resume || '').trim();\n}\n\nfunction extractName(item) {\n  return String(item.name || item.full_name || item.candidate_name || '').trim();\n}\n\nfunction extractEmail(item) {\n  return String(item.email || item.email_address || item.applicant_email || '').trim().toLowerCase();\n}\n\nreturn items.map((entry) => {\n  const source = entry.json || {};\n  const role = extractRole(source);\n  const name = extractName(source);\n  const email = extractEmail(source);\n  const resumeUrl = extractResumeUrl(source);\n  const sourceRowNumber = extractRowNumber(source);\n  const sourceSheetName = SOURCE_SHEET;\n  const sourceDocumentId = role === 'BDM' ? BDM_SOURCE_DOC : SWE_SOURCE_DOC;\n  const validationIssues = [];\n\n  if (!name) validationIssues.push('missing_name');\n  if (!email || !emailPattern.test(email)) validationIssues.push('invalid_email');\n  if (!resumeUrl) validationIssues.push('missing_resume_url');\n  if (!sourceRowNumber) validationIssues.push('missing_row_number');\n\n  const candidateKey = [role, email || 'unknown-email', sourceRowNumber || 'unknown-row'].join('-');\n\n  return {\n    json: {\n      candidateKey,\n      candidate_key: candidateKey,\n      name,\n      email,\n      role,\n      resumeUrl,\n      resume_url: resumeUrl,\n      sourceRowNumber,\n      source_row_number: sourceRowNumber,\n      sourceSheetName,\n      source_sheet: sourceSheetName,\n      sourceDocumentId,\n      processed: String(source.processed || '').toLowerCase() === 'true',\n      validationStatus: validationIssues.length === 0 ? 'valid' : 'invalid',\n      validation_issues: validationIssues.join(', '),\n      validationIssues: validationIssues.join(', '),\n      hiringManagerEmail: String(source.hiringManagerEmail || 'trillesfate@gmail.com'),\n      interviewCalendarId: String(source.interviewCalendarId || 'primary'),\n      sourceRaw: source\n    }\n  };\n});"
      },
      "id": "e2ed5f92-af28-4cdd-8822-554a4edecbc3",
      "name": "Normalize and Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "6a3c9fbc-93ec-4615-b666-a1f0b5010f21",
              "leftValue": "={{ $json.validationStatus == \"valid\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "01c0e8ee-0159-4c5d-8820-0542b8a155f7",
      "name": "Application Has Minimum Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        112
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RzOT1YYAnwRZr9cqC6IAYwHVF32RHWMRcrdKAlVek70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate_key": "={{$json.candidateKey}}",
            "name": "={{$json.name}}",
            "email": "={{$json.email}}",
            "role": "={{$json.role}}",
            "resume_url": "={{$json.resumeUrl}}",
            "source_sheet": "={{$json.sourceSheetName}}",
            "source_row_number": "={{$json.sourceRowNumber}}",
            "validationStatus": "invalid",
            "validationIssues": "={{$json.validationIssues}}",
            "contact_status": "no_action",
            "hiringManagerEmail": "={{$json.hiringManagerEmail}}",
            "interviewCalendarId": "={{$json.interviewCalendarId}}",
            "sourceDocumentId": "={{$json.sourceDocumentId}}",
            "sourceRaw": "={{JSON.stringify($json.sourceRaw)}}",
            "sourceSheetName": "={{ $json.sourceSheetName }}",
            "sourceRowNumber": "={{ $json.source_row_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidate_key",
              "displayName": "candidate_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_file_id",
              "displayName": "resume_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "concerns",
              "displayName": "concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_status",
              "displayName": "contact_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_sheet",
              "displayName": "source_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_row_number",
              "displayName": "source_row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "candidateKey",
              "displayName": "candidateKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumeUrl",
              "displayName": "resumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceRowNumber",
              "displayName": "sourceRowNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceSheetName",
              "displayName": "sourceSheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceDocumentId",
              "displayName": "sourceDocumentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validationStatus",
              "displayName": "validationStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validationIssues",
              "displayName": "validationIssues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hiringManagerEmail",
              "displayName": "hiringManagerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interviewCalendarId",
              "displayName": "interviewCalendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceRaw",
              "displayName": "sourceRaw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fb75c50f-8408-453c-8eac-6aeadc90388e",
      "name": "Write Invalid Candidate Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        960,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function extractGoogleDriveFileId(url) {\n  const text = String(url || '').trim();\n  const patterns = [\n    /id=([-\\w]{25,})/,\n    /\\/d\\/([-\\w]{25,})/,\n    /file\\/d\\/([-\\w]{25,})/,\n    /([-\\w]{25,})/\n  ];\n\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (match) return match[1] || match[0];\n  }\n\n  return null;\n}\n\nreturn items.map((entry) => {\n  const resumeFileId = extractGoogleDriveFileId(entry.json.resumeUrl);\n  return {\n    json: {\n      ...entry.json,\n      resume_file_id: resumeFileId,\n      resumeFileId,\n      screeningPrompt: entry.json.role === 'BDM'\n        ? 'Evaluate a Business Development Manager candidate on client acquisition, pipeline building, commercial judgment, communication, negotiation, ownership, and closing ability.'\n        : 'Evaluate a Software Engineer candidate on problem solving, code quality, system design exposure, ownership, debugging ability, collaboration, and delivery.'\n    }\n  };\n});"
      },
      "id": "574d3a56-448e-42ac-93c6-578821ef0167",
      "name": "Prepare Resume Lookup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        64
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{$json.resumeFileId}}",
        "options": {}
      },
      "id": "5e15e79e-8610-444a-8ea9-9e99afbd9f98",
      "name": "Download Resume",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 2,
      "position": [
        1216,
        64
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zqipwxQBeAfNcKgf",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "8d519b0f-b63e-426d-8b58-4eed12958839",
      "name": "Extract Resume Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1440,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyAESC7W5JR23LwSml7H63dzSY275asHI3M",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "id": "06a244da-98c1-4864-b65d-c952deddafcc",
      "name": "Screen with Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2480,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const safeParse = (text) => {\nif (!text) return null;\nif (typeof text === 'object') return text;\ntry { return JSON.parse(text); } catch (e) {}\nconst s = String(text).trim();\nconst start = s.indexOf('{');\nconst end = s.lastIndexOf('}');\nif (start >= 0 && end > start) {\ntry { return JSON.parse(s.slice(start, end + 1)); } catch (e) {}\n}\nreturn { rawText: s };\n};\n\nreturn $input.all().map(item => {\nconst raw = item.json || {};\n\n// prefer merged fields created by Merge Gemini Response with Context\nconst candidateText =\nraw.geminiText ||\nraw.screening_raw ||\nraw.geminiResponse?.candidates?.[0]?.content?.parts?.[0]?.text ||\nraw.candidates?.[0]?.content?.parts?.[0]?.text ||\nraw.text ||\nraw.body ||\n'';\n\nconst parsed = safeParse(candidateText) || {};\n\n// normalized parsed fields\nconst parsedScore = Number(parsed.score ?? parsed.scoring ?? parsed.score_raw ?? 0);\nconst parsedClassification = String(parsed.classification || parsed.class || '').toLowerCase();\nconst classification = ['strong','average','weak'].includes(parsedClassification) ? parsedClassification : (raw.classification || 'average');\n\nconst out = {\n...raw,\ngemini_parsed: parsed,\nscore: parsedScore || Number(raw.score || 0),\nclassification,\nsummary: String(parsed.summary || parsed.screeningSummary || raw.summary || '').trim(),\nstrengths: Array.isArray(parsed.strengths) ? parsed.strengths.join('; ') : String(parsed.strengths || raw.strengths || '').trim(),\nconcerns: Array.isArray(parsed.concerns) ? parsed.concerns.join('; ') : String(parsed.concerns || raw.concerns || '').trim(),\nrecommendation: String(parsed.interview_recommendation || parsed.recommendation || raw.recommendation || '').trim(),\nscreening_raw: candidateText,\ncontact_status: raw.contact_status || raw.contactStatus || 'pending'\n};\n\n// Ensure source context still present\nout.sourceDocumentId = out.sourceDocumentId || out.source_document_id || raw.sourceDocumentId || raw.source_document_id;\nout.source_row_number = out.source_row_number || out.sourceRowNumber || raw.source_row_number || raw.sourceRowNumber;\nout.sourceSheetName = out.sourceSheetName || out.source_sheet || raw.sourceSheetName || raw.source_sheet;\nout.candidateKey = out.candidateKey || out.candidate_key || raw.candidateKey || raw.candidate_key;\n\nreturn { json: out, binary: item.binary };\n});"
      },
      "id": "86264ae3-c8f9-480d-81da-3f5a34407673",
      "name": "Parse Screening Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1RzOT1YYAnwRZr9cqC6IAYwHVF32RHWMRcrdKAlVek70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "summary": "={{ $json.summary }}",
            "strengths": "={{ $json.strengths }}",
            "concerns": "={{ $json.concerns }}",
            "recommendation": "={{ $json.recommendation }}",
            "contact_status": "={{ $json.contact_status }}",
            "classification": "={{ $json.classification }}",
            "candidate_key": "={{ $json.candidateKey }}",
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "role": "={{ $json.role }}",
            "resume_url": "={{ $json.resume_url }}",
            "source_sheet": "={{ $('Application Has Minimum Fields').item.json.source_sheet }}",
            "source_row_number": "={{ $('Application Has Minimum Fields').item.json.source_row_number }}",
            "hiringManagerEmail": "={{ $('Application Has Minimum Fields').item.json.hiringManagerEmail }}",
            "interviewCalendarId": "={{ $('Application Has Minimum Fields').item.json.interviewCalendarId }}",
            "sourceRaw": "={{ $('Application Has Minimum Fields').item.json.sourceRaw }}",
            "validationStatus": "={{ $('Application Has Minimum Fields').item.json.validationStatus }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "candidate_key",
              "displayName": "candidate_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resume_file_id",
              "displayName": "resume_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "concerns",
              "displayName": "concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_status",
              "displayName": "contact_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_sheet",
              "displayName": "source_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_row_number",
              "displayName": "source_row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "candidateKey",
              "displayName": "candidateKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resumeUrl",
              "displayName": "resumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceRowNumber",
              "displayName": "sourceRowNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sourceSheetName",
              "displayName": "sourceSheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceDocumentId",
              "displayName": "sourceDocumentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validationStatus",
              "displayName": "validationStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "validationIssues",
              "displayName": "validationIssues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hiringManagerEmail",
              "displayName": "hiringManagerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interviewCalendarId",
              "displayName": "interviewCalendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sourceRaw",
              "displayName": "sourceRaw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6cec95ed-8b0f-428f-b405-0631501b5068",
      "name": "Append Master Candidate",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        3360,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "1f1bd7fb-d513-49cb-9a3e-95be05fb40e9",
      "name": "Dispatch Communications",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -256,
        560
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1RzOT1YYAnwRZr9cqC6IAYwHVF32RHWMRcrdKAlVek70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "options": {}
      },
      "id": "ae79cef0-e5de-4b59-8ae2-6d0aa77a56c5",
      "name": "Read Master Candidates",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -16,
        560
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pending = items.filter((entry) => String(entry.json.contact_status || '').toLowerCase() === 'pending');\n\nreturn pending.map((entry) => ({\n  json: {\n    ...entry.json,\n    classification: String(entry.json.classification || entry.json.screening_classification || 'average').toLowerCase(),\n    email: String(entry.json.email || '').trim().toLowerCase(),\n    name: String(entry.json.name || '').trim(),\n    role: String(entry.json.role || '').trim(),\n    rowNumber: Number(entry.json.rowNumber || entry.json.masterRowNumber || entry.json.source_row_number || 0) || null,\n    score: Number(entry.json.score || 0),\n    summary: String(entry.json.summary || '').trim(),\n    concerns: String(entry.json.concerns || '').trim()\n  }\n}));"
      },
      "id": "285c00a3-2b3b-4889-baa0-068fe9605870",
      "name": "Filter Pending Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        560
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.classification}}",
        "rules": {
          "rules": [
            {
              "value2": "strong",
              "outputKey": "Strong Candidates"
            },
            {
              "value2": "average",
              "outputKey": "Average  Candidates"
            },
            {
              "value2": "weak",
              "outputKey": "Weak Candidates"
            }
          ]
        }
      },
      "id": "74dea260-31a5-4ec8-bde3-450d4b3b81b3",
      "name": "Classify Candidate",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        464,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map((entry) => {\n  const start = new Date();\n  start.setDate(start.getDate() + 2);\n  start.setHours(10, 0, 0, 0);\n  const end = new Date(start.getTime() + 30 * 60 * 1000);\n\n  return {\n    json: {\n      ...entry.json,\n      interviewStart: start.toISOString(),\n      interviewEnd: end.toISOString()\n    }\n  };\n});"
      },
      "id": "21c1cf5e-7192-4c87-bc21-142bd7f38d4d",
      "name": "Prepare Interview Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        560
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "=Interview Invitation - {{$json.name}}",
        "message": "=<p>Dear {{$json.name}},</p><p>We reviewed your application for the {{$json.role}} position and would like to invite you to the next step of the process.</p><p>Your profile was assessed as <strong>{{$json.classification}}</strong>.</p><p>We will follow up with the interview calendar invitation shortly. Please reply if you need to reschedule.</p><p>Kind regards,<br>Trilles AI Hiring Team</p>",
        "options": {}
      },
      "id": "030d4654-9303-4513-9c90-81574729d370",
      "name": "Send Interview Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        1392,
        576
      ],
      "webhookId": "049c5ab0-5855-4f59-affa-7894bdc0a820",
      "credentials": {
        "gmailOAuth2": {
          "id": "CzFJ0feYRmvo1O4X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "start": "={{$json.interviewStart}}",
        "end": "={{$json.interviewEnd}}",
        "additionalFields": {}
      },
      "id": "48e50ddc-9c0f-4787-916d-b369924ae9b5",
      "name": "Create Interview Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        992,
        560
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "0uafSx7UmyLuYu9J",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "1RzOT1YYAnwRZr9cqC6IAYwHVF32RHWMRcrdKAlVek70",
        "sheetName": "Candidates",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3d64037d-96fd-43d1-a106-f75d14751080",
      "name": "Mark Strong Contacted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1616,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.hiringManagerEmail}}",
        "subject": "Manual review required - {{$json.name}} ({{$json.role}})",
        "message": "=<p>Hello Hiring Team,</p><p>A candidate for the <strong>{{$json.role}}</strong> role has been scored as <strong>{{$json.classification}}</strong> and should be reviewed manually.</p><p><strong>Name:</strong> {{$json.name}}<br><strong>Email:</strong> {{$json.email}}<br><strong>Score:</strong> {{$json.score}}</p><p><strong>Summary:</strong> {{$json.summary}}</p><p><strong>Concerns:</strong> {{$json.concerns}}</p><p>Please review the candidate record in the master sheet.</p><p>Regards,<br>Trilles AI Automation</p>",
        "options": {}
      },
      "id": "8f19201d-e274-45d8-bd88-4618e2273766",
      "name": "Send Manager Review Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        976,
        736
      ],
      "webhookId": "a6bf2468-b836-45d6-b326-8a60f3ad41e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "CzFJ0feYRmvo1O4X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1RzOT1YYAnwRZr9cqC6IAYwHVF32RHWMRcrdKAlVek70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contact_status": "contacted"
          },
          "matchingColumns": [
            "candidate_key"
          ],
          "schema": [
            {
              "id": "candidate_key",
              "displayName": "candidate_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_file_id",
              "displayName": "resume_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "concerns",
              "displayName": "concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_status",
              "displayName": "contact_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_sheet",
              "displayName": "source_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source_row_number",
              "displayName": "source_row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "candidateKey",
              "displayName": "candidateKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resumeUrl",
              "displayName": "resumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sourceSheetName",
              "displayName": "sourceSheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sourceDocumentId",
              "displayName": "sourceDocumentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validationStatus",
              "displayName": "validationStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "validationIssues",
              "displayName": "validationIssues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "hiringManagerEmail",
              "displayName": "hiringManagerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "interviewCalendarId",
              "displayName": "interviewCalendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sourceRaw",
              "displayName": "sourceRaw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e3bfe7d4-12d8-4504-bd82-2e19cfdd135c",
      "name": "Mark Average Contacted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        784
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "Update on your application - {{$json.name}}",
        "message": "=<p>Dear {{$json.name}},</p><p>Thank you for taking the time to apply for the {{$json.role}} role at Trilles AI.</p><p>After reviewing your application, we will not be moving forward at this stage. This decision was based on the current needs of the role and the fit of the submitted materials.</p><p>We appreciate your interest and encourage you to apply again for future opportunities.</p><p>Kind regards,<br>Trilles AI Hiring Team</p>",
        "options": {}
      },
      "id": "95f4bd9a-359f-41e7-a181-3e9ac16d74da",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        976,
        928
      ],
      "webhookId": "4ec68cf4-1255-4e5c-9c65-1bd5c4e10928",
      "credentials": {
        "gmailOAuth2": {
          "id": "CzFJ0feYRmvo1O4X",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": "1RzOT1YYAnwRZr9cqC6IAYwHVF32RHWMRcrdKAlVek70",
        "sheetName": "Candidates",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "id": "f7f7571c-2e05-40f2-8baf-daabfe2da0fe",
      "name": "Mark Weak Contacted",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        992
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function getTextFromItem(item) {\n  const json = item.json || {};\n\n  const candidates = [\n    json.text,\n    json.resumeText,\n    json.extractedText,\n    json.content,\n    json.data,\n    json.body,\n  ];\n\n  for (const value of candidates) {\n    if (typeof value === 'string' && value.trim()) return value.trim();\n  }\n\n  return '';\n}\n\nfunction looksBad(text) {\n  if (!text) return true;\n\n  const cleaned = String(text).trim();\n  if (cleaned.length < 120) return true;\n  if (cleaned.startsWith('%PDF-')) return true;\n  if (/^[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]+$/.test(cleaned)) return true;\n  if ((cleaned.match(/stream|endstream|obj|endobj|xref|trailer/gi) || []).length >= 3) return true;\n\n  return false;\n}\n\nconst items = $input.all();\n\nfor (const item of items) {\n  const rawText = getTextFromItem(item);\n  const binary = item.binary?.data;\n  const mimeType = binary?.mimeType || '';\n  const fileName = binary?.fileName || '';\n\n  const needsOcr = looksBad(rawText) || mimeType === 'application/pdf' || /\\.pdf$/i.test(fileName);\n\n  item.json.resumeText = rawText;\n  item.json.needsOcr = needsOcr;\n  item.json.resumeTextStatus = needsOcr ? 'needs_ocr' : 'ok';\n  item.json.resumeTextReason = !rawText\n    ? 'no_text_found'\n    : rawText.startsWith('%PDF-')\n      ? 'pdf_binary_returned'\n      : rawText.length < 120\n        ? 'too_short'\n        : 'extracted_ok';\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        -96
      ],
      "id": "f82ae640-a6f8-4ae8-bf79-8947323b0570",
      "name": "Check Resume Text"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RzOT1YYAnwRZr9cqC6IAYwHVF32RHWMRcrdKAlVek70",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Candidates",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "candidate_key": "={{ $('Application Has Minimum Fields').item.json.candidateKey }}",
            "contact_status": "needs_review",
            "validationStatus": "invalid",
            "validationIssues": "={{ $json.resumeTextReason }}"
          },
          "matchingColumns": [
            "candidate_key"
          ],
          "schema": [
            {
              "id": "candidate_key",
              "displayName": "candidate_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "role",
              "displayName": "role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resume_file_id",
              "displayName": "resume_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "score",
              "displayName": "score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "classification",
              "displayName": "classification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "strengths",
              "displayName": "strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "concerns",
              "displayName": "concerns",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recommendation",
              "displayName": "recommendation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_status",
              "displayName": "contact_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_sheet",
              "displayName": "source_sheet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_row_number",
              "displayName": "source_row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "candidateKey",
              "displayName": "candidateKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "resumeUrl",
              "displayName": "resumeUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sourceRowNumber",
              "displayName": "sourceRowNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sourceSheetName",
              "displayName": "sourceSheetName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sourceDocumentId",
              "displayName": "sourceDocumentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "validationStatus",
              "displayName": "validationStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "validationIssues",
              "displayName": "validationIssues",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "hiringManagerEmail",
              "displayName": "hiringManagerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "interviewCalendarId",
              "displayName": "interviewCalendarId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sourceRaw",
              "displayName": "sourceRaw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2464,
        -144
      ],
      "id": "e4396691-394c-4a8e-84dd-25af6f441c21",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  item.json.contact_status = 'needs_review';\n  item.json.screeningClassification = 'manual_review';\n  item.json.screeningSummary = 'Resume text could not be extracted reliably.';\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        -144
      ],
      "id": "7731695a-7d96-4dc5-8838-df6609864a82",
      "name": "Mark Needs Review"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ffd71107-1037-4f92-8e12-5b09a49d7469",
              "leftValue": "={{ $json.needsOcr }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2048,
        -96
      ],
      "id": "fc2fcc57-05be-4179-ba8f-9b34984b0e48",
      "name": "Readable Text?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Normalize and Validate').item.json.sourceDocumentId }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Normalize and Validate').item.json.source_sheet }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Number": "={{ $('Normalize and Validate').item.json.source_row_number }}",
            "processed": "true"
          },
          "matchingColumns": [
            "Row Number"
          ],
          "schema": [
            {
              "id": "Row Number",
              "displayName": "Row Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "0be4db79-40c2-4e59-a7b4-3039a989c7d9",
      "name": "Mark Source Row Processed1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        2928,
        -112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n  const role =\n    item.json.role || \"\";\n\n  const screeningPrompt =\n    item.json.screeningPrompt ||\n    \n    \"\";\n\n  const resumeText =\n    item.json.resumeText ||\n    \"\";\n\n  item.json.geminiPayload = {\n    contents: [\n      {\n        role: \"user\",\n        parts: [\n          {\n            text:\n              \"You are screening a candidate for the role of \" +\n              role +\n              \". Use the following role brief: \" +\n              screeningPrompt +\n              \". Return strict JSON only with keys score, classification, summary, strengths, concerns, and interview_recommendation. Classification must be one of strong, average, or weak. Resume text: \" +\n              resumeText\n          }\n        ]\n      }\n    ],\n    generationConfig: {\n      temperature: 0.2\n    }\n  };\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        112
      ],
      "id": "db03f269-7912-4347-9009-4a572706447f",
      "name": "Extract Gemini Payload"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst contextItems = $items(\"Prepare Resume Lookup\");\n\nreturn items.map((item, index) => {\n  const context = contextItems[index]?.json || {};\n\n  return {\n    json: {\n      ...context,\n      ...item.json,\n      role: context.role || item.json.role || \"\",\n      screeningPrompt: context.screeningPrompt || item.json.screeningPrompt || \"\",\n      candidateKey: context.candidateKey || item.json.candidateKey || \"\",\n      candidate_key: context.candidate_key || item.json.candidate_key || \"\",\n      sourceDocumentId: context.sourceDocumentId || item.json.sourceDocumentId || \"\",\n      sourceSheetName: context.sourceSheetName || item.json.sourceSheetName || \"\",\n      sourceRowNumber: context.sourceRowNumber || item.json.sourceRowNumber || \"\",\n      source_row_number: context.source_row_number || item.json.source_row_number || \"\",\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        -80
      ],
      "id": "00be400d-dab0-4eb3-bd83-acab21952326",
      "name": "Reattach Candidate Context"
    },
    {
      "parameters": {
        "jsCode": "const contextItems = $items(\"Extract Gemini Payload\") || [];\nreturn items.map((item, index) => {\nconst response = item.json || {};\nconst context = contextItems[index]?.json || {};\n// try common response text locations\nconst text =\nresponse.candidates?.[0]?.content?.parts?.[0]?.text ||\nresponse.output?.[0]?.content?.[0]?.text ||\nresponse.text ||\nresponse.body ||\n'';\n\nreturn {\njson: {\n...context,\ngeminiResponse: response,\ngeminiText: text,\n// keep fields the Parse node expects\n...context,\n// preserve incoming parsed text if present\nscreening_raw: text\n},\nbinary: item.binary\n};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2752,
        240
      ],
      "id": "125a88cb-e91f-41f8-a87a-55bf742609dd",
      "name": "Merge Gemini Response with Context"
    },
    {
      "parameters": {
        "jsCode": "const appendItems = $input.all();\nconst sourceItems = $items(\"Parse Screening Result\") || [];\n\nreturn appendItems.map(appendItem => {\nconst key = appendItem.json.candidateKey || appendItem.json.candidate_key;\nconst match = sourceItems.find(si => {\nconst sk = si.json.candidateKey || si.json.candidate_key;\nreturn sk && key && String(sk) === String(key);\n}) || {};\nreturn {\njson: {\n...appendItem.json,\n...match.json\n},\nbinary: appendItem.binary\n};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        112
      ],
      "id": "065f1db4-0cd2-48d5-8946-3c0c6010d506",
      "name": "Restore Context after Append"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.sourceDocumentId}}",
                    "rightValue": "17PtuhikNt-NX-ifnxv-dVv-e_y9FOcKn3hV8C2qH5yY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d7cee18e-4960-4c8f-a2f1-fa55e7efd14b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SWE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3a67bd3-115b-45f3-b66b-940c37ef0d4e",
                    "leftValue": "={{$json.sourceDocumentId}}",
                    "rightValue": "1I1Z0sU0vaIFFB6wBrEqPqpOwdshg0_BsTxu69359JI0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BDM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3824,
        160
      ],
      "id": "26bae876-3d28-4baf-8f48-2b4297fc0de9",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17PtuhikNt-NX-ifnxv-dVv-e_y9FOcKn3hV8C2qH5yY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Responses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Number": "={{ $json.source_row_number }}",
            "processed": "true",
            "row_number": 0
          },
          "matchingColumns": [
            "Row Number"
          ],
          "schema": [
            {
              "id": "Row Number",
              "displayName": "Row Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "71718b43-0cb7-4112-8319-b7890af01bf0",
      "name": "Mark SWE Source Row Processed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4080,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1I1Z0sU0vaIFFB6wBrEqPqpOwdshg0_BsTxu69359JI0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Responses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Number": "={{ $json.source_row_number }}",
            "processed": "true",
            "row_number": 0
          },
          "matchingColumns": [
            "Row Number"
          ],
          "schema": [
            {
              "id": "Row Number",
              "displayName": "Row Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "01ce0c6c-0aff-4cc8-a100-93d5b2af0bef",
      "name": "Mark BDM Source Row Processed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        4080,
        368
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.sourceDocumentId}}",
                    "rightValue": "17PtuhikNt-NX-ifnxv-dVv-e_y9FOcKn3hV8C2qH5yY",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d7cee18e-4960-4c8f-a2f1-fa55e7efd14b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SWE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c3a67bd3-115b-45f3-b66b-940c37ef0d4e",
                    "leftValue": "={{$json.sourceDocumentId}}",
                    "rightValue": "1I1Z0sU0vaIFFB6wBrEqPqpOwdshg0_BsTxu69359JI0",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BDM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1344,
        320
      ],
      "id": "7f553997-b535-4c38-aacc-967b832e8991",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=17PtuhikNt-NX-ifnxv-dVv-e_y9FOcKn3hV8C2qH5yY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Responses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Number": "={{ $json.source_row_number }}",
            "processed": "true",
            "row_number": 0
          },
          "matchingColumns": [
            "Row Number"
          ],
          "schema": [
            {
              "id": "Row Number",
              "displayName": "Row Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c90e3ed5-07d5-4db3-914c-a4bf9e5948be",
      "name": "Mark Invalid SWE Source Row Processed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1616,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1I1Z0sU0vaIFFB6wBrEqPqpOwdshg0_BsTxu69359JI0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Responses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Row Number": "={{ $json.source_row_number }}",
            "processed": "true",
            "row_number": 0
          },
          "matchingColumns": [
            "Row Number"
          ],
          "schema": [
            {
              "id": "Row Number",
              "displayName": "Row Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "resume_url",
              "displayName": "resume_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c4383010-2d91-47e1-88ec-538627ced648",
      "name": "Mark Invalid BDM Source Row Processed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1632,
        432
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HeCqw6eLGaGz786F",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const appendItems = $input.all();\nconst sourceItems = $items(\"Normalize and Validate\") || [];\n\nreturn appendItems.map(appendItem => {\nconst key = appendItem.json.candidateKey || appendItem.json.candidate_key;\nconst match = sourceItems.find(si => {\nconst sk = si.json.candidateKey || si.json.candidate_key;\nreturn sk && key && String(sk) === String(key);\n}) || {};\nreturn {\njson: {\n...appendItem.json,\n...match.json\n},\nbinary: appendItem.binary\n};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        304
      ],
      "id": "ae6d69a9-3161-4401-b67a-d33bd4c484ab",
      "name": "Restore Context after Append1"
    },
    {
      "parameters": {
        "jsCode": "const sentItems = $input.all();\nconst preparedItems = $items(\"Prepare Interview Event\");\n\nreturn sentItems.map((item, index) => {\n  const context = preparedItems[index]?.json || {};\n  return {\n    json: {\n      ...context,\n      ...item.json,\n    },\n    binary: item.binary,\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        544
      ],
      "id": "225785ef-ca56-4c0b-ae0f-064f4946ccd1",
      "name": "Restore Interview Event Context"
    }
  ],
  "pinData": {},
  "connections": {
    "Poll Applications": {
      "main": [
        [
          {
            "node": "Read SWE Applications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read BDM Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SWE Applications": {
      "main": [
        [
          {
            "node": "Combine Applications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read BDM Applications": {
      "main": [
        [
          {
            "node": "Combine Applications",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Applications": {
      "main": [
        [
          {
            "node": "Normalize and Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize and Validate": {
      "main": [
        [
          {
            "node": "Application Has Minimum Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Application Has Minimum Fields": {
      "main": [
        [
          {
            "node": "Prepare Resume Lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Write Invalid Candidate Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Invalid Candidate Record": {
      "main": [
        [
          {
            "node": "Restore Context after Append1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Resume Lookup": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "Reattach Candidate Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screen with Gemini": {
      "main": [
        [
          {
            "node": "Merge Gemini Response with Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Screening Result": {
      "main": [
        [
          {
            "node": "Append Master Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Master Candidate": {
      "main": [
        [
          {
            "node": "Restore Context after Append",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Communications": {
      "main": [
        [
          {
            "node": "Read Master Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Master Candidates": {
      "main": [
        [
          {
            "node": "Filter Pending Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Pending Candidates": {
      "main": [
        [
          {
            "node": "Classify Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Interview Event": {
      "main": [
        [
          {
            "node": "Create Interview Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Interview Email": {
      "main": [
        [
          {
            "node": "Mark Strong Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Interview Event": {
      "main": [
        [
          {
            "node": "Restore Interview Event Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Manager Review Email": {
      "main": [
        [
          {
            "node": "Mark Average Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Rejection Email": {
      "main": [
        [
          {
            "node": "Mark Weak Contacted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Resume Text": {
      "main": [
        [
          {
            "node": "Readable Text?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Mark Source Row Processed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Needs Review": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Readable Text?": {
      "main": [
        [
          {
            "node": "Mark Needs Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Gemini Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Gemini Payload": {
      "main": [
        [
          {
            "node": "Screen with Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach Candidate Context": {
      "main": [
        [
          {
            "node": "Check Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Candidate": {
      "main": [
        [
          {
            "node": "Prepare Interview Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Manager Review Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Gemini Response with Context": {
      "main": [
        [
          {
            "node": "Parse Screening Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Context after Append": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Mark SWE Source Row Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark BDM Source Row Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Mark Invalid SWE Source Row Processed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Invalid BDM Source Row Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Context after Append1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Interview Event Context": {
      "main": [
        [
          {
            "node": "Send Interview Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4cf83004-7723-42e8-b77d-4b9581794f17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "adb454e8d407ff39c4882dfd212bcf22405733f50788e23b75c65c6c135ac0aa"
  },
  "id": "j5RAkpJ1Ovzcetl8",
  "tags": []
}